{% extends 'AppBundle:Layout:chart_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12 padding-bottom-10">
                    <input id="wilayah" class="form-control" placeholder="Ketikan Nama Propinsi atau Kabupaten" type="text">
                </div>
                <div class="col-md-12 padding-bottom-10">
                    <input id="regional" class="form-control" placeholder="Ketikan Nama Regional" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 padding-bottom-10">
                    <select id="dari-bulan" class="form-control">
                        <option value="">--- DARI BULAN ---</option>
                    </select>
                </div>
                <div class="col-sm-6 padding-bottom-10">
                    <select id="dari-tahun" class="form-control">
                        <option value="">--- DARI TAHUN ---</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 padding-bottom-10">
                    <select id="sampai-bulan" class="form-control">
                        <option value="">--- SAMPAI BULAN  ---</option>
                    </select>
                </div>
                <div class="col-sm-6 padding-bottom-10">
                    <select id="sampai-tahun" class="form-control">
                        <option value="">--- SAMPAI TAHUN ---</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div id="map-block" class="chart-wrapper">
                <div class="chart-title">UNTUK PETA</div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="map-info-block" class="chart-wrapper">
                <div class="chart-title">UNTUK INFO PETA</div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div id="top1" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="top2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="top3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="top4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="top5" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="top6" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div id="total1" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="total2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="total3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="total4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="total5" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="total6" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div id="main-block" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="indicator-block" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div id="bottom1" class="chart-wrapper">
                <div class="chart-title">BERITA MEDIA SOSIAL</div>
                <div class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="bottom2" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="bottom3" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="bottom4" class="chart-wrapper">
                <div class="chart-title"></div>
                <div class="chart-stage"></div>
                <div class="chart-notes"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Chart.init();

            //Eary Warning
            Chart.get(function (data) {
                Chart.createGauge(data, '#top1', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS01', 'nasional');

            Chart.get(function (data) {
                Chart.createGauge(data, '#top2', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS02', 'nasional', 0, '01_2015', '12_2015');

            Chart.get(function (data) {
                Chart.createGauge(data, '#top3', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS03', 'nasional');

            Chart.get(function (data) {
                Chart.createGauge(data, '#top4', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS04', 'nasional');

            Chart.get(function (data) {
                Chart.createGauge(data, '#top5', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS05', 'nasional');

            Chart.get(function (data) {
                Chart.createGauge(data, '#top6', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS06', 'nasional');

            //Total Block
            Chart.get(function (data) {
                Chart.renderTotal('#total1', data);
            }, 'PS07', 'nasional');

            Chart.get(function (data) {
                Chart.renderTotal('#total2', data);
            }, 'PS06', 'nasional');

            Chart.get(function (data) {
                Chart.renderTotal('#total3', data);
            }, 'PS05', 'nasional');

            Chart.get(function (data) {
                Chart.renderTotal('#total4', data);
            }, 'PS04', 'nasional');

            Chart.get(function (data) {
                Chart.renderTotal('#total5', data);
            }, 'PS03', 'nasional');

            Chart.get(function (data) {
                Chart.renderTotal('#total6', data);
            }, 'PS02', 'nasional');

            //Main Chart
            Chart.createMainChart('PS07');

            //Bottom Chart
            Chart.get(function (data) {
                Chart.createPie(data, '#bottom2', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS04', 'nasional');

            Chart.get(function (data) {
                Chart.createPie(data, '#bottom3', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS05', 'nasional');

            Chart.get(function (data) {
                Chart.createPie(data, '#bottom4', data['indikator']['name'], {
                    click: function (e) {
                        alert('Under Constructions.');
                    }
                });
            }, 'PS06', 'nasional');
        });
    </script>
{% endblock %}