{% spaceless %}
<div id="main" role="main">
    {% if app.user is not null %}
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li>
                {% if breadcrumb is not empty %}
                    {{ breadcrumb | raw }}
                {% endif %}
            </ol>
        </div>
    {% endif %}
    <div id="content">
        {% if content is not empty %}
            {{ content | raw }}
        {% endif %}
    </div>
</div>
{% endspaceless %}